.icon{
    min-width: 600px;
    height: 300px;
    margin-left: 10px;
    position: relative;
}

.leftkruq {
    width: 300px;
    height: 300px;
    float: left;

    background-color: red;
    border-radius: 50%;
}

.rightkruq{
    width: 300px;
    height: 300px;
    float: left;

    background-color: rgb(249, 207, 21);
    border-radius: 50%;
    mix-blend-mode: hard-light;

    position: absolute;
    left: 200px;
}